<div class="form-page">
  <h1>{{ 'customer.reset.title' | t }}</h1>
  {%- form 'reset_customer_password' -%}
    {%- if form.errors -%}<div class="form-errors">{{ form.errors | default_errors }}</div>{%- endif -%}
    <label for="reset-password">{{ 'customer.reset.password' | t }}</label>
    <input id="reset-password" type="password" name="customer[password]" autocomplete="new-password" required>
    <label for="reset-password2">{{ 'customer.reset.password_confirm' | t }}</label>
    <input id="reset-password2" type="password" name="customer[password_confirmation]" autocomplete="new-password" required>
    <button class="btn btn--solid btn--full">{{ 'customer.reset.submit' | t }}</button>
  {%- endform -%}
</div>
